.first-block{
  height: 120px;
  background-color: lightblue;
}

.main{
  position: relative;
  top: -50px;
  background: white;
  border-radius: 20px;
  padding-top: 20px;
}

.nav-link .active{
  border: none;
  border-bottom: solid 2px lightsteelblue;
}

.flag img{
  height: 15px;
}

.user-box{
  margin-left: auto;
}

label{
  color: #bbb
}

.selected{
  background-color: #e8effa;
}

.select-search-container{
  margin-top: 10px;
  position: relative;
}

.select-search-box{
  border: solid 1px lightblue;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

.search-dest{
  width: 90%;
  border: none;
  margin-left: 10px;
  padding: 5px;
}

.search{
  display: inline-block;
  margin-left: 10px;
}

.results-box{
  position: absolute;
  top: 85px;
  max-width: 40%;
  margin-left: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.results {
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.item-result{
  padding: 10px;
}

.item-result>div>div, .item-result>div>span{
  display: inline-block;
  margin-right: 10px;
}

.action-buttons {
  padding: 10px;
  border-top: 1px solid lightgray;
  text-align: right;
}

.user-box{
  display: flex;
}

.user-box .icon, .user-box .country{
  margin: 0 10px;
}

.user-box .flag{
  margin: -3px 10px;
}

.cancel-button{
  text-decoration: none;
  color: black;
}